/* src/Components/Portfolio/Portfolio.css

.portfolio {
    padding: 20px;
}

.portfolio h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.portfolio h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.portfolio p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
} */
