#navbar {
    border-bottom: 1px solid #e2e8f0;
    position: fixed;
    height: 10%;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(211, 146, 66);
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav a {
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: 0 12px;
    text-decoration: none;
    text-align: center;
}
